@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

.author {
  font-family: 'Caveat', cursive;
  letter-spacing: 0.5px;
  margin-top: 10px;
  font-size: larger;
  max-width: 80%;
}

.container {
  background: transparent;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
}

.container img {
  cursor: pointer;
}

.title {
  max-width: 80%;
  margin-top: 10px;
}

@media only screen and (max-width: 430px) {
  .container {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin: 20px;
  }

  .container img {
    min-width: 35%;
  }

  .text {
    margin: 10px;
    margin-left: 15px;
  }

  .title {
    max-width: 100%;
  }

  .author {
    max-width: 100%;
  }
}
