@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

.container {
  position: fixed;
  background: black;
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.dashboard {
  background: rgb(218, 201, 178);
  width: 80%;
  height: 80%;
  overflow-y: scroll;
}

.dashboard img {
  margin: 20px;
  margin-top: 30px;
}

.header {
  display: flex;
  align-items: center;
}

.text {
  margin: 10px;
}

.text h3 {
  margin-top: 20px;
  font-family: 'Caveat', cursive;
  letter-spacing: 1.5px;
  font-size: 25px;
}

.dashboard button {
  margin: 20px;
  height: 40px;
  width: 150px;
  background: rgb(97, 175, 201);
  cursor: pointer;
  border: none;
  font-size: medium;
  color: white;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.dashboard button:hover {
  background: rgb(2, 160, 212);
  transform: scale(1.1);
}

.dashboard button:focus {
  outline: none;
}

.description {
  margin: 20px;
}

.description p {
  margin-top: 10px;
}

.review {
  margin: 20px;
}

.review p {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 70%;
  font-family: 'Yusei Magic', sans-serif;
}

.review textarea {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 90%;
  height: 70px;
  padding-left: 8px;
  padding: 5px;
  font-size: larger;
}

.review textarea:focus {
  outline: none;
}

.review button {
  margin: 10px;
  margin-bottom: 10px;
  background: rgb(236, 78, 78);
}

.review button:hover {
  background: red;
}

.sg {
  position: relative;
  top: 0;
  left: 48%;
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sg svg {
  transform: scale(2.5);
}

.dashboard h4 {
  color: red;
  font-size: 20px;
  position: relative;
  left: 48%;
  cursor: pointer;
  width: fit-content;
  padding: 10px;
  text-decoration: underline;
}

.para p {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 430px) {
  .review p {
    max-width: 95%;
  }

  .sg {
    left: 38%;
  }

  .dashboard {
    width: 95%;
  }

  .title {
    font-size: large;
  }

  .text {
    margin: 0px;
  }
}
